<h1 class="text-center">Faça seu Cadastro</h1>
<form
    method="post"
    action="/cadastro"
    class="d-flex flex-column align-items-center w-50 mx-auto gap-4 mt-5"
>
    <div class="w-100 d-flex">
        <label for="nome" class="w-25">Usuário:</label>
        <input
            type="text"
            name="nome"
            placeholder="Digite o usuário..."
            class="form-control flex-grow-1 flex-shrink-1"
            style="border: solid black 1px;"
        />
    </div>
    <div class="w-100 d-flex">
        <label for="email" class="w-25">Email:</label>
        <input
            type="email"
            name="email"
            placeholder="Digite o email..."
            class="form-control flex-grow-1 flex-shrink-1"
            style="border: solid black 1px;"
        />
    </div>
    <div class="w-100 d-flex">
        <label for="senha" class="w-25">Senha:</label>
        <input
            type="password"
            name="senha"
            placeholder="Digite a senha..."
            class="form-control flex-grow-1 flex-shrink-1"
            style="border: solid black 1px;"
        />
    </div>

    <button type="submit" class="btn btn-dark px-5">Criar Conta</button>

    <a href="/login">Fazer login</a>
</form>